<!DOCTYPE html>
<html>
  <head>
    {% block head_meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
        <script src="{{ url_for('static', filename='jquery-1.6.2.min.js.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='d3.v2.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='d3.layout.min.js') }}" type="text/javascript"></script>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
  </head>
  <body>
    <div>
      <h1> Hello World </h1>
      <div class='gallery' id='chart'> </div>

    <script>
    var radius = 1500 / 2;

    var grading=["#FFFFFF","#FFB2B2","#FF9999","#FF6666","#FF3333","#FF0000", "#CC0000"];
  
  var tree = d3.layout.tree()
      .size([360, radius - 120])
      .separation(function(a, b) { return (a.parent == b.parent ? 1 : 2) / a.depth; });
  
  var diagonal = d3.svg.diagonal.radial()
      .projection(function(d) { return [d.y, d.x / 180 * Math.PI]; });
  
 var vis = d3.select("#chart").append("svg")
     .attr("width", radius * 2)
     .attr("height", radius * 2 - 150)
   .append("g")
     .attr("transform", "translate(" + radius + "," + radius + ")");
 
 d3.json("{{ url_for('static', filename='flare.json') }}", function(json) {
   var nodes = tree.nodes(json);
 
   var link = vis.selectAll("path.link")
       .data(tree.links(nodes))
     .enter().append("path")
       .attr("class", "link")
       .attr("d", diagonal);
 
   var node = vis.selectAll("g.node")
       .data(nodes)
     .enter().append("g")
       .attr("class", "node")
       .attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")"; })
 
   node.append("circle")
       .attr("r", 5.5)
       .attr("fill", function(d) { return  grading[Math.round( d.name.length/4)] })
       .attr("stroke", "#FFB2B2");
 
   //node.append("text")
   //    .attr("dx", function(d) { return d.x < 180 ? 8 : -8; })
   //   .attr("dy", ".31em")
   //    .attr("text-anchor", function(d) { return d.x < 180 ? "start" : "end"; })
    //   .attr("transform", function(d) { return d.x < 180 ? null : "rotate(180)"; })
     //  .text(function(d) { return d.name; });
 });
    </script>
  </div>

  </body>

</html>